@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Olá</h1>
    <h2>Seja bem-vindo!</h2>
    <p>Aula de DevOps - Dia 19/05/2025 - Atividade prática</p>
 
    
</div>
